<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic Informational Site | 404</title>
</head>
<body>
  <%- include ('partials/header') %>
  <h2>OOPS! Resource not found</h2>
  <%- include ('partials/footer') %>
</body>
</html>
